---
import { dateString, SeriesGroup } from '~/utils'
import { render, type CollectionEntry } from 'astro:content'
import type { Collation } from '~/types'

interface Props {
  post: CollectionEntry<'posts'>
  class?: string
}

const { post, class: className } = Astro.props
const { remarkPluginFrontmatter } = await render(post)
const { minutesRead } = remarkPluginFrontmatter
const seriesFrontmatter = post.data.series
let series: Collation<'posts'> | undefined
let seriesPostNumber: number | undefined
let seriesTotal: number | undefined
if (seriesFrontmatter) {
  const seriesGroup = await SeriesGroup.build()
  series = seriesGroup.match(seriesFrontmatter)
  if (!series) {
    throw new Error(`Series "${seriesFrontmatter}" not found`)
  }
  seriesPostNumber = series.entries.findIndex((p) => p.id === post.id) + 1
  seriesTotal = series.entries.length
}
---

<div class:list={[className, 'text-xs']}>
  <div class="flex flex-col gap-2 sm:flex-wrap items-start sm:items-center sm:flex-row">
    {
      series && seriesPostNumber && seriesTotal && (
        <a
          class="py-1 px-2 text-foreground/60 hover:text-foreground border border-foreground/10 hover:border-foreground/20 transition-all duration-150 mr-2"
          href={series.url}
        >
          {series.title} {seriesPostNumber}/{seriesTotal}
        </a>
      )
    }
    <div class="flex items-center gap-2 text-foreground/50">
      <time>{dateString(post.data.published)}</time>
      {post.data.author && <span class="before:content-['/'] before:mr-2">{post.data.author}</span>}
      {minutesRead && <span class="before:content-['/'] before:mr-2">{minutesRead}</span>}
    </div>
  </div>
</div>
